*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter_18pt;
}
html{
    scrollbar-width: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-color: #111827;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
input{
    border: none;
    outline: none;
    
}
button{
    border: none;
    cursor: pointer;
    &:active{
        transform: scale(0.9);
    }
}

