$Inter:("Medium",500),("Regular",400),("Bold": 700);
@each $name,$weight in $Inter{
    @font-face {
        font-family: "$Inter" ;
        src: url("../fonts/$Inter-#{$name}.ttf");
        font-weight: $weight;
    }
}
